 html, body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  }


.ui-coverflow-wrapper{
    height:400px;
    margin-top: 100px;
    width:100%;
}
.ui-state-active{
    border:0px;
}

.ui-coverflow {
  left:0;
  perspective-origin: 660px 45%;
  transition-property: left;
  transition-duration: 400ms;
}

.ui-coverflow-item{
  transform: matrix3d(0.494981, 0, -0.707097, 0, 0, 0.7, 0, 0, 0.707097, 0, 0.494981, 0, 0, 0, 0, 1);
  transform-origin: left;
  center: 0px;
}

.parallax-1{
  background-image: url("../images/indexWallet.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

.parallax-2{
  background-image: url("../images/skyline.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

.parallax-3{
  background-image: url("../images/fair copy.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

.coverflow_text, .video{
  color:black;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 18px;
}

.location{
  background-color: black;
}

.location img{
  display: block;
  margin: auto;
}

h2{
  font-size: 36px;
}
