 html, body {
  height: 100%;
  }


.ui-coverflow-wrapper{
    height:400px;
    margin-top: 100px;
}
.ui-state-active{
    border:0px;
}

.ui-coverflow {
  width: 50%;
  left:0;
  perspective-origin: 660px 45%;
  transition-property: left;
  transition-duration: 400ms;
  float:left;
}

.ui-coverflow-item{
  transform: matrix3d(0.494981, 0, -0.707097, 0, 0, 0.7, 0, 0, 0.707097, 0, 0.494981, 0, 0, 0, 0, 1);
  transform-origin: left;
  center: 0px;
}

.coverflow_text{
  float:right;
}

.coverflow_text p{
  vertical-align: super;
}
/* #item1{
  z-index: 11;
  left: 0px;
}

#item2{
  z-index: 12;
  left: -229px;
}

#item3{
  z-index: 13;
  left: -457px;
}

#item4{
  z-index: 14;
  left: -686px;
}

#item5{
  z-index: 15;
  left: -915px;
} */
