body, html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.media_parallax1{
  background-image: url('../images/manWallet2.jpg');
  opacity: 0.75;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.media_parallax2{
  background-image: url('../images/manWallet2.jpg');
  opacity: 0.75;
  min-height: 33%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_parallax1{
  background-image: url('../images/manWallet.jpg');
  opacity: 0.75;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_parallax2{
  background-image: url('../images/manWallet.jpg');
  opacity: 0.75;
  min-height: 33%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products_parallax-1{
  background-image: url('../images/manWallet3.jpg');
  opacity: 0.75;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clear:both;
}

.products_parallax-2{
  background-image: url('../images/manWallet3.jpg');
  opacity: 0.75;
  min-height: 33%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clear:both;
}

.index-parallax-1-1{
  background-image: url("../images/indexWallet.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  clear:both;
  opacity: 0.85;
}

.index-parallax-1-2{
  background-image: url("../images/indexWallet.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 33%;
  position: relative;
  clear:both;
  opacity: 0.85;
}

.index-parallax-2{
  background-image: url("../images/skyline.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  opacity: 0.85;
}

.index-parallax-3{
  background-image: url("../images/fair copy.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  opacity: 0.85;
}

.heading{
  margin: auto;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

.heading span.text {
  background-color: black;
  color: white;
  font-size: 47px;
  width: 50%;
  padding: 50px;
  opacity: 1;
}

.blank{
  height: 10%;
  background-color: white;
}
.about_description{
  height:40%;
  background-color:black;
  color: white;
}

.about_description p{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 19px;
}

.media_description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height:auto;
  background-color:black;
  color: white;
  align-items: middle;
}

.media_text {
  display: inline-block;
  height: auto;
  width: 60%;
  vertical-align: middle;
  float: left;


  border-color: white;
  border-right-style: solid;
}

.media_links {
  display: inline-block;
  width: auto;
  height: auto;
  overflow:hidden;
  padding: 10px;
  text-align: center;
}

.media_text p{
  height: auto;
  font-size: 75px;
  text-align: center;
}

.media_links a{
  margin: auto;
  font-size: 40px;
  vertical-align: middle;
  text-align: center;

}



 h3{
  text-align: center;
  font-size: 36px;
  color: white;
}



.overlay{
  height: 100%;
  width: 100%;
  text-align: center;
}

.overlay1, .overlay2,.overlay3,.overlay4,.overlay5,.overlay6 {
  height: 50%;
  width:50%;
  position: relative;
  float:left;
}

.overlay span.overlay_text {
  background-color: #2F4F4F;
  color: white;
  font-size: 28px;
  position: absolute;
  top: 30%;
  right: 22%;
  padding: 20px;
  font-weight: bold;
  width: 50%;
  opacity: 1;
  z-index: 1;
  transition: .5s ease;

}

.overlay img {
  display: block;
  width: 100%;
  height:100%;
  object-fit: contain;
  opacity: .75;
}

.more_info{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 97%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}


.overlay1:hover span.overlay_text, .overlay2:hover span.overlay_text, .overlay3:hover span.overlay_text, .overlay4:hover span.overlay_text, .overlay5:hover span.overlay_text, .overlay6:hover span.overlay_text  {
  opacity: 0;
}

.overlay1:hover .more_info, .overlay2:hover .more_info, .overlay3:hover .more_info, .overlay4:hover .more_info, .overlay5:hover .more_info, .overlay6:hover .more_info  {
  opacity: 1;
}

.care{
  background-color: black;
  height: 180%;
  color: white;
}

.care .images{
  height: 20%;
}
.care img{
  margin-left: 50px;
  margin-bottom: 20px;
  width: 20%;
  height: 5%;
  float: left;
  opacity: 0.75;
}

.care_text{
  float:left;
  width:70%;
}

.care_text p{
  margin-right: 150px;
  margin-left: 50px;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 20px;
}

/*Adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky*/
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  opacity: 1;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: background-color 0.5s ease;
  transition: color 0.5 ease;
  background-color: black;
  position: relative;
  z-index: 30;
}

#navbar a:hover {
  color: black;
  background-color: #f2f2f2;

}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Coverflow Content */
.ui-coverflow-wrapper{
    height:400px;
    margin-top: 100px;
    width:100%;
}
.ui-state-active{
    border:0px;
}

.ui-coverflow {
  left:0;
  perspective-origin: 660px 45%;
  transition-property: left;
  transition-duration: 400ms;
}

.ui-coverflow-item{
  transform: matrix3d(0.494981, 0, -0.707097, 0, 0, 0.7, 0, 0, 0.707097, 0, 0.494981, 0, 0, 0, 0, 1);
  transform-origin: left;
  center: 0px;
}

.coverflow_text, .video{
  color:black;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 18px;
}

.location{
  background-color: black;
}

.location img{
  display: block;
  margin: auto;
}

video h2{
  font-size: 36px;
}

#navbar img {
  float: right;
}
