html, body {
  height: 100%;
  }

.coverflow {
  margin: auto;
  perspective: 500px;
  transform-style: preserve-3d;
  float: left;
  }

  .coverflow_text{
    float: right;
    position: relative;
  }

.cover {
  width: 230px;
  display: inline-block;
  margin: 0 -50px;
  transform:
    rotateY(35deg);
  transition: .3s;
  border-radius:15px;
  cursor: pointer;
  }

.active {
  margin: 0;
  transform: none;
  }
  .active ~ .cover {
    transform:
      rotateY(-35deg);
    }
.cover img{
  opacity:0.3;
  border-radius:15px;
}

.cover.active{
  border-radius:15px;
  z-index: 1;
}
.cover.active img{
  opacity:1;
}
